{% load static %}

<nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
    <div class="sidebar-sticky pt-3 mx-auto">
        <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="user-avatar lg-avatar mr-4">
                    <img src="{% static 'assets/img/team/profile-picture-3.jpg' %}" class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                </div>
                <div class="d-block">
                    <h2 class="h6">Hi, Jane</h2>
{#                    /sign-in.html#}
                    <a href="#" class="btn btn-secondary text-dark btn-xs"><span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Выйти</a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                   data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                   aria-label="Toggle navigation"></a>
            </div>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item  {% if 'index' in segment %} active {% endif %}">
                <a href="/" class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
                <span>Главная</span>
                </a>
            </li>
            {% with request.resolver_match.view_name as view_name %}
                <li class="nav-item  {% if 'invoice_list' == view_name %} active {% endif %}">
                    <a href="{% url 'invoice_list' %}" class="nav-link">
                        <span class="sidebar-icon"><span class="fas fa-file-invoice"></span></span>
                        <span>Операции</span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item  {% if 'payment_detail_list' == view_name %} active {% endif %}">
                        <a href="{% url 'payment_detail_list' %}" class="nav-link">
                            <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                            <span>Реквизиты</span>
                        </a>
                    </li>
                    {% if request.user.role == 'Admin' %}
                        <li class="nav-item  {% if 'payment_detail_list' == view_name %} active {% endif %}">
                            <a href="{% url 'payment_detail_list' %}" class="nav-link">
                                <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                                <span>Пользователи</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
                <li class="nav-item  {% if 'swagger_ui' == view_name %} active {% endif %}">
                    <a href="{% url 'swagger_ui' %}" class="nav-link">
                        <span class="sidebar-icon"><span class="far fa-file-code"></span></span>
                        <span>API Swagger</span>
                    </a>
                </li>
            {% endwith %}
        </ul>
    </div>
</nav>